-if user_signed_in?
  .container
    %button.btn.btn-outline-success.btn-block.mb-3{'data-target' => '#exampleModal', 'data-toggle' => 'modal', :type => 'button'}
      Manage Layouts

    -# Modal
    #exampleModal.modal.fade{'aria-hidden' => 'true', 'aria-labelledby' => 'exampleModalLabel', :role => 'dialog', :tabindex => '-1'}
      .modal-dialog{:role => 'document'}
        .modal-content
          .modal-header
            %h5#exampleModalLabel.modal-title Manage Layouts
            %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', :type => 'button'}
              %span{'aria-hidden' => 'true'} ×
          .modal-body
            -@outlines.each do |outline|
              %div.d-flex.justify-content-between
                = outline.name
                .btn-group.mb-3{ :role => 'group' }
                  = link_to 'Edit', edit_outline_path(outline), class: 'btn btn-outline-warning btn-sm'
                  = link_to 'Destroy', outline, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm'
          .modal-footer
            %button.btn.btn-secondary{'data-dismiss' => 'modal', :type => 'button'} Close

-if user_signed_in?
  #outlines_payload{ payload: @outlines.to_json, current_user: current_user.id }
-else
  #outlines_payload{ payload: @outlines.to_json }

#rancher_app
=javascript_pack_tag 'rancher_app'
