-if user_signed_in?
  #outlines_payload{ payload: @outlines.to_json, current_user: current_user.id }
-else
  #outlines_payload{ payload: @outlines.to_json }

#rancher_app
=javascript_pack_tag 'rancher_app'
