.button-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -25%);
  width: 442.5px;
  height: 952.5px;
}

.button {
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  border-radius: 100%;
  img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
  }
}

.button__main {
  transform: translate(200px, 200px) translate(-50%, -50%);
  box-shadow: 3px 5px 5px black;
  height: 70px;
  width: 70px;
  img {
    width: 50px;
    height: 50px;
  }
}

.button__close {
  transform: translate(200px, 250px) translate(-50%, -50%);
  box-shadow: 1px 5px 5px black;
  height: 25px;
  width: 25px;
  justify-content: center;
}

.button__item {
  box-shadow: 1px 5px 5px black;
  height: 60px;
  width: 60px;
  img {
    width: 40px;
    height: 40px;
  }
}
