.map {
  overflow: visible;
  position: relative;
  background-color: #60b6ff;
  border-bottom: 1px solid #495057;
}

// .JSON-string {
//   font-family: 'VT323', monospace;
//   overflow: scroll;
// }
