%footer.footer
  .container.d-flex.justify-content-center
    %small.text-muted
      I hereby declare that I do not own the rights to Slime Rancher. All rights belong to the Monomi Park. No Copyright Infringement Intended.
